<div class="panel panel-default">
  <div class="panel-heading">Recettes</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="form-group">
          <b>Ajouter une nouvelle recette :</b> 
          <button type="button" class="btn btn-xs btn-primary" (click)="allowAddRecipe()" *ngIf="!addRec">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button type="button" class="btn btn-xs btn-warning" (click)="allowAddRecipe()" *ngIf="addRec">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>

        <div class="form-group" *ngIf="addRec">
          <div class="form-group">
            <label>Nom de la recette :</label>
            <input [(ngModel)]="nameRecipe" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label>Recette :</label>
            <textarea [(ngModel)]="description" class="form-control" rows="3" ></textarea>
          </div>
          <div class="form-group">
            <label>Image :</label>
            <input class="newPicture" [(ngModel)]="picture" type="file">
          </div>

          <div class="form-group row">
            <div class="col-md-3">
              <label for="ex1">Nom de l'ingrédient</label>
              <input class="form-control" id="ex1" [(ngModel)]="nameIng" type="text">
            </div>
            <div class="col-md-3">
              <label for="ex2">Quantité</label>
              <input class="form-control" id="ex2" [(ngModel)]="quantityIng" type="number">
            </div>
            <div class="col-md-3">
              <label for="ex3">Unité</label>
              <input class="form-control" id="ex3" [(ngModel)]="itemIng" type="text">
            </div>
              <button style="margin-top : 25px" type="button" class="btn btn-md btn-info" (click)="AddIngInRecipe()">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
          </div>

          <div class="form-group row" *ngFor="let ing of currentIngredients">
            <div class="col-md-3">{{ ing.name }}</div>
            <div class="col-md-3">{{ ing.quantity }}</div>
            <div class="col-md-3">{{ ing.item }}</div>
          </div>
          
          <div class="form-group">
            <button style="margin-top : 25px" type="button" class="btn btn-lg btn-primary" (click)="addRecipe()">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </div>

          
        </div>

      </li>
    </ul>
    <ul class="list-group">
      <app-my-recipe-item *ngFor="let recipe of recipes" [recipe]=recipe></app-my-recipe-item>
    </ul>
  </div>
</div>